<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios Registrados</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="fragments :: navbar"></div>
    <h1>Usuarios Registrados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td>
                    <a th:href="@{'/registrados/' + ${usuario.id}}" th:text="${usuario.id}"></a>
                </td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Volver al inicio</a>
</body>
</html>
